<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>Finance App</title>
</head>
<div class="container">

    <body>
        <h2>Transactions list:</h2>
        {% for transaction in transactions %}
        <li>
            <a href="{% url 'url_update_transaction' transaction.id %}">

                {{ transaction }} - {{ transaction.value }} - {{ transaction.catego }} - {{ transaction.date }}

            </a>
        </li>
        {% endfor %}
        <br>
        <a class="btn btn-info" href="transactions/new">New</a>
        <br>
        <br>
        <a class="btn btn-info" href="/">Back</a>
    </body>
</div>

</html>