<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Transactions</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <h2>Transactions list:</h2>
    {% for transaction in transactions %}
        <li>
        {{ transaction }} - {{ transaction.value }} - {{ transaction.catego }} - {{ transaction.date }}
        </li>
    {% endfor %}
    <a class="btn btn-info" href="transactions/new">New</a>
    <br>
    <a class="btn btn-info" href="/">Back</a>
</body>

</html>